{#
/**
 * @file
 * Default theme implementation for the Easy 360 Viewer template.
 *
 * Available variables:
 * - items: The array of items, each containing the following:
 *   - large_image: The URL to the large image that is displayed when zooming
 *     into the item.
 *   - small_image: The URL to the small image that is displayed in the viewer.
 *
 * @I Support info and markers
 *    type     : feature
 *    priority : high
 *    labels   : field
 *    notes    : We may have to create a custom field type that allows storing
 *               the extra info for each image.
 */
#}
<div id="easy-360-viewer" style="overflow:hidden;"></div>
<div id="easy-360-viewer-playlist" style="display:none">
  <ul data-info=""></ul>
  <ul data-markers=""></ul>
  <div data-paylist="">
    <div>
      {% for item in items %}
        <ul>
          <li data-large-image-path="{{ item['large_image'] }}"></li>
          <li data-small-image-path="{{ item['small_image'] }}"></li>
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
